[Unit]
Description=RHCSA Exam Simulator Browser Terminal
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/local/share/rhcsa/scripts/rhcsa-terminal-service start
ExecStop=/usr/bin/bash /usr/local/share/rhcsa/scripts/rhcsa-terminal-service stop
Restart=on-failure
RestartSec=3
User=root
WorkingDirectory=/tmp
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
