[Unit]
Description=Periodic RHCSA simulator update detection

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
RandomizedDelaySec=3min
AccuracySec=1min
Persistent=true
Unit=rhcsa-update.service

[Install]
WantedBy=timers.target
